@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/AnjomanMax-Regular/AnjomanMax-Regular.eot');
    src: url('../fonts/AnjomanMax-Regular/AnjomanMax-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AnjomanMax-Regular/AnjomanMax-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/AnjomanMax-Medium/AnjomanMax-Medium.eot');
    src: url('../fonts/AnjomanMax-Medium/AnjomanMax-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AnjomanMax-Medium/AnjomanMax-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}